@import "./_variables";

body{
  font-family: 'Roboto';
  background-color: hsl(0, 0%, 93%);
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width:500px;
  border-radius: 10px;
  padding-top: 25px;
}

.icon-container{
  padding: 0;
  svg{
    width: 100%;
  }
}


