@import "./_variables";

body{
  font-family: 'Roboto';
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:fit-content;
  
}


.button{
  background-color: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
}

svg{
  height: 19px;
}

svg:hover{
  stroke: $red-color;
}

.todo-item-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 500px;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: #818181 2px 2px 3px;
    border: 1px solid transparent;
}

.todo-item-container:nth-of-type(2n){
  background-color: #f1f1f1;
}

.todo-item-container:hover{
  border: 1px solid black;
}

ul{
  padding: 0;
}