
ul{
    padding: 0;
    margin: 0;
}

.todolist-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

li{
    list-style-type: none;
}