@import "../../../styles/variables";

.todo-item-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: white;
    min-height: 50px;
    height: fit-content;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: $dark-gray 2px 2px 3px;
    border: 1px solid transparent;
    transition: enter 1s;

    .delete-todo, .edit-todo{
        visibility: hidden;
    }
}

.todo-item-container:hover{
    border: 1px solid black;

    .delete-todo, .edit-todo{
        visibility: visible;
    }
}

.checkbox{
    display: inherit;
    width: 1.7rem;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s ease;
}

.checkbox-checked{
    color:$done-green;
    transform: rotateY(360deg);
}

.checkbox-title-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 15px;
}

.todo-title{
    text-wrap: pretty;
    max-width: 328px;
    white-space: normal;
    overflow-wrap: break-word;
}

.title-checked{
    color: $light-gray;
    text-decoration: line-through;
}

.delete-todo:hover{
    color: $red-color
}

.delete-todo{
    width: 22px;
}

.edit-todo{
    width: 24px;
}

.edit-todo:hover{
    color: $blue;
}